@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<FlickrClone.Models.Image>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <h2>Here is your list of images, @User.Identity.Name</h2>
    <hr />

    @if (Model.Any())
    {
        
        <div>
            
                @foreach (var listImage in Model)
                {
                    <div class="col-sm-4 image1">
                        <a href="@Url.Action("Details", new { id = listImage.ImageId })">
                            <div class="thumbnail">
                                <img class="smallpics" src="@Html.DisplayFor(modelImage => listImage.URL)" />

                                <div class="caption">
                                    <h4>@Html.DisplayFor(modelImage => listImage.Title)</h4>
                                    <h4>Uploaded on @Html.DisplayFor(modelImage => listImage.Today)</h4>
                                </div>
                            </div>
                            </a>
</div>
                }
                    

        </div>
    }
    else
    {
        <p>No images have been added yet!</p>
    }

    @*@Html.ActionLink("Create new", "Create")*@
