@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<FlickrClone.Models.Image>

    <h2>Here is your list of images, @User.Identity.Name</h2>
    <hr />

    @if (Model.Any())
    {
        <div>
            @foreach (var listImage in Model)
            {
                <h2>@Html.DisplayFor(modelImage => listImage.Title)</h2>
                <h3>@Html.DisplayFor(modelImage => listImage.Description)</h3>
                <h4>Uploaded on @Html.DisplayFor(modelImage => listImage.Today)</h4>
                <img src="@Html.DisplayFor(modelImage => listImage.URL)" />
                @Html.ActionLink("Edit This Image", "Edit")
            }
        </div>
    }
    else
    {
        <p>No images have been added yet!</p>
    }

    @Html.ActionLink("Create new", "Create")
